#center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.loginDiv{
    display: inline-block;
    text-align: center;
}

.textBox {
    border-radius: 25px;
    border: 5px solid #4CAF50;
    padding: 20px;
    width: 200px;
    height: 15px;
    font-size: 1.5rem;
}

.button {
    background-color: #4CAF50;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 18px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    size: 1rem;
}

#todoList{
    width: 25%;
}

#key, #value, #taskPt, #task, #Tasks{
    width: 100%;
}

#task{
    border: 2px solid #4CAF50;
    border-radius: 3px;
    margin: 0 0 0 0;
}

#taskPt{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    text-align: center;
}

#key, #value{
    font-size: 1.5rem;
    font-family: sans-serif;
    width: auto;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    #todoList{
        width: 100%;
    }
}
